@using HM.Blazor.Session
@using HM.Data.Entities.Users.Role;
@inherits SessionManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HM.Blazor.Client</a>
    <span>Hello, @(CurrentSession.Username ?? "Anonymous")</span>
    <button class="navbar-toggler" @onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
        <span class="oi oi-home" aria-hidden="true"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @if (!CheckIsLoggedIn())
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Accounts/login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Accounts/register">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="game">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Play
                </NavLink>
            </li>
        }
        @if (CheckIsLoggedIn())
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Accounts/logout">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="game/play">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Play Game
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="game/statistics">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> High Scores
                </NavLink>
            </li>
        }
        @if (CheckIsAdmin())
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Accounts/logout">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="game/play">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Play Game
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="words/index">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Words
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="categories/index">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Categories
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="game/statistics">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> High Scores
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
SessionManager sessionManager = new SessionManager();

bool collapseNavMenu = true;

string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

void ToggleNavMenu()
{
    collapseNavMenu = !collapseNavMenu;
}

bool CheckIsAdmin()
{
    if (sessionManager.CurrentSession.ID != Guid.Empty && sessionManager.CurrentSession.Role == Role.Admin)
    {
        return true;
    }
    else
    {
        return false;
    }
}

bool CheckIsLoggedIn()
{
    if (sessionManager.CurrentSession.ID != Guid.Empty)
    {
        return true;
    }
    else
    {
        return false;
    }
}

}