@using ComponentsV2;
@using HM.Blazor.Session;

@page "/"
@inherits SessionManager

<h1>Hello and welcome to the Hangman Website</h1>

<span>Your current session is marked with username: @(CurrentSession.Username ?? "Anonymous")</span>

