@page "/statistics"

<h1>High Scores</h1>

<p>Highest Score: @highScore</p>
<p>Highest Streak: @highStreak</p>
<p>User with the highest score: @userName</p>

<tr class="table">
    <td>
        @userName
    </td>
    <td>
        @highScore 
    </td>
    <td>
        @highStreak 
    </td>
</tr>

@code {

    int highScore = 0;
    int highStreak = 0;
    string userName = "Nobody";
}
