@using Components;
@page "/accounts/register"
@inherits UserManager

<h3>Register</h3>

<div class="row">
    <div class="col-sm-auto col-md-5 col-lg-5 ">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" @bind="@Username" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" @bind="@Password" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" @bind="@Email" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" @onClick="@Test">Register</button>
        </div>
    </div>
</div>

@code {

//async void RegisterUser()
//{
//    UserManager userManager = new UserManager();

//    userManager.Username = Username;
//    userManager.Password = Password;
//    userManager.Email = Email;
//    await userManager.RegisterUser();
//}

void Test()
{
    Console.WriteLine("Hey");
}

}
